@{
    Layout = null;
}
<div class="container-fluid">
    <div class="row mb-1">
        <div class="col-lg-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Transaction in</span>
                </div>
                <select class="form-control" id="ddlTransactions" name="Transactions">
                    <option>Today</option>
                    <option>This Weekly</option>
                    <option>This Month</option>
                    <option>This Year</option>
                    <option>Between Dates</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">From</span>
                </div>
                <input type="text" class="form-control" placeholder="" id="trnFrom">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">To</span>
                </div>
                <input type="text" class="form-control" placeholder="" id="trnTo">
            </div>
        </div>
        <div class="col-lg-3">
           <input type="button" class="btn btn-secondary" id="btnDateWise" value="Search"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table table-bordered table-hover" id="tblTransactions">
                <thead class="thead-dark">
                    <tr>
                        <th>Description</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Transaction Mode</th>
                        <th>Paid By</th>
                        <th>Paid To</th>
                        <th>Status</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="modal fade" tabindex="-1" id="errorModal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"> &times; </button>
                        <h4 class="modal-title">Session Expired</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h2 class="modal-title">Close this message to login again</h2>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" href="#" class="close">&times;</a>
            <div id="divErrorText"></div>
        </div>
    </div>
    </div>
