@{
    Layout = null;
}
    <div class="container-fluid mt-3">
        <div class="d-flex justify-content-between mb-1">
            <h5 class="h2">Emergency Contact Number</h5>
        </div>
        <div class="card card-outline-secondary shadow">
            <div class="card-header global-bg-primary">
                <h3 class="mb-0 text-light">Important</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center border-right-2">
                            <div><i class="fas fa-user-circle fontSize_50 global-text-primary"></i></div>
                            <label for="inputOwnerName" class="font-weight-bold mt-2"> Owner Name</label>
                            <div><label for="inputOwnerName">LAKSHMI DEVI S.</label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center border-right-2">
                            <div><i class="fas fa-phone fontSize_50 global-text-primary"></i></div>
                            <label for="inputOwnerNumber" class="font-weight-bold mt-2"> Owner Number</label>
                            <div><label for="inputOwnerNumber">8861940816</label></div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center border-right-2">
                            <div><i class="fas fa-phone fontSize_50 global-text-primary"></i></div>
                            <label for="inputOwnerNumberalt" class="font-weight-bold mt-2">Alternate Owner Number</label>
                            <div><label for="inputRailwayStation">9844506443</label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center">
                            <div><i class="fas fa-envelope fontSize_50 global-text-primary"></i></div>
                            <label for="inputOwnerNumberalt" class="font-weight-bold mt-2"> Owner mail ID</label>
                            <div><label for="inputRailwayStation">prakashkor@gmail.com</label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


