@{
    Layout = null;
}
<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between mb-1">
         <h5 class="h2">All Proximities</h5>
         <button class="btn btn-primary" id="btnAddProximities">Add New</button>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Primary</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputAirport">NearBy Airport</label>
                            <label for="inputAirport" class="float-right" id="lblAirport"></label>
                        </div>
                        <div class="form-group">
                            <label for="inputRailwayStation">NearBy Railway Station</label>
                            <label for="inputRailwayStation" class="float-right" id="lblRailwayStation"></label>

                        </div>
                        <div class="form-group">
                            <label for="inputBusStation">NearBy Bus Station</label>
                            <label for="inputBusStation" class="float-right" id="lblBusStation"></label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Secondary</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputMetro">NearBy Metro Station</label>
                            <label for="inputMetro" class="float-right" id="lblMetroStation"></label>
                        </div>
                        <div class="form-group">
                            <label for="inputSchoolCollege">NearBy School/College</label>
                            <label for="inputSchoolCollege" class="float-right" id="lblSchoolorCollege"></label>
                        </div>
                        <div class="form-group">
                            <label for="inputHospital">NearBy Hospital</label>
                            <label for="inputHospital" class="float-right" id="lblHospital"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary"><h3 class="mb-0 text-light">Tertiary</h3></div>
                <div class="card-body card-body pb-4">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputMarket">NearBy Market</label>
                            <label for="inputMarket" class="float-right" id="lblMarket"></label>
                        </div>
                        <div class="form-group">
                            <label for="inputHotel">NearBy Hotel</label>
                            <label for="inputHotel" id="lblHotel" class="float-right"></label>
                        </div>
                        <div class="form-group">
                            <label for="inputTemple">NearBy Temple</label>
                            <label for="inputTemple"class="float-right"  id="lblTemple"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
