@{
    Layout = null;
}

<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between mb-1">
        <h5 class="h2">Send Request</h5>
    </div>
    <div class="row">
        <div class="col-lg-5 offset-lg-4">
            <div class="card card-outline-secondary shadow-sm">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Send Request To Admin</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputRequest" class="font-weight-bold">Request Body</label>
                            <textarea class="form-control minWidthFull" id="txtRequestBody" placeholder="Request Body..." rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-2">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-secondary w-25" type="button" onclick='getRaiseReqHTML()'>Back</button>
                        <button class="btn btn-danger w-25" type="button" onclick="clearTextBoxes()">clear</button>
                        <button class="btn btn-info w-25" type="button" onclick="saveRequest()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
