@{
    Layout = null;
}
<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row mb-4 mt-4">
            <div class="col-md-12">
                <div class="overview-wrap bg-primary card-header">
                    <h2 class="title-1 text-light">Dashboard</h2>
                    <h4 class="text-light">Joined On 10<sup>th</sup>May 2010 </h4>
                </div>
            </div>
        </div>
        @*<div class="row m-t-25">
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon"> <i class="zmdi zmdi-account-o"></i> </div>
                            <div class="text"> <h2>10368</h2> <span>members online</span> </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon"> <i class="zmdi zmdi-shopping-cart"></i> </div>
                            <div class="text"><h2>388,688</h2><span>items solid</span></div>
                        </div>
                        <div class="overview-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon"><i class="zmdi zmdi-calendar-note"></i></div>
                            <div class="text"><h2>1,086</h2><span>this week</span></div>
                        </div>
                        <div class="overview-chart"><canvas id="widgetChart3"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c4">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon"><i class="zmdi zmdi-money"></i></div>
                            <div class="text"><h2>$1,060,386</h2><span>total earnings</span></div>
                        </div>
                        <div class="overview-chart"><canvas id="widgetChart4"></canvas></div>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-info">
                    <h5 class="text-light">OverView - Payment </h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between card-header pb-0">
                        <h4 class="text-primary">Current Month June Rent of Rs.6000</h4>
                        <div class="form-check">
                            <label class="font-weight-bold" for="IsRent">
                                <input type="checkbox" class="ckeckBoxStyle" title="paid" id="ckbTenantIsRent">
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between card-header pb-0">
                        <h4 class="text-primary">Electricity Bill of Rs.6000 of Month June </h4>
                        <div class="form-check">
                            <label class="font-weight-bold" for="IsRent">
                                <input type="checkbox" class="ckeckBoxStyle" id="ckbTenantIsRent">
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between card-header  pb-0">
                        <h4 class="text-primary">Water/Motor Bill of Rs.180 of Month June </h4>
                        <div class="form-check">
                            <label class="font-weight-bold" for="IsRent">
                                <input type="checkbox" class="ckeckBoxStyle" id="ckbTenantIsRent">
                            </label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between card-header pb-0">
                        <h4 class="text-primary">Other Miscellaneous Amount of Rs.600 of Month June </h4>
                        <div class="form-check">
                            <label class="font-weight-bold" for="IsRent">
                                <input type="checkbox" class="ckeckBoxStyle" id="ckbTenantIsRent">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="d-flex justify-content-between card-header bg-warning">
                    <h5 class="text-light">Overall Expenses</h5>
                    <h5 class="text-light">&#8377; 31,900</h5>
                </div>
                <div class="card-body">
                    <div class="doughnut">
                        <div class="doughnutChartContainer"><canvas id="doughnutChart" height="230"></canvas></div>
                        <div id="legend" class="chart-legend"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-4">
            <div class="card">
                <div class="d-flex justify-content-between card-header bg-info">
                    <h5 class="text-light">Electricity Bill</h5>
                    <h5 class="text-light">&#8377; 20,000</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div> <canvas id="elecBill"></canvas> </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="d-flex justify-content-between card-header bg-primary">
                    <h5 class="text-light">Water Motor Bill</h5>
                    <h5 class="text-light">&#8377; 1,900</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div><canvas id="waterMotorBill"></canvas></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="d-flex justify-content-between card-header bg-primary">
                    <h5 class="text-light">Miscellenious Bill</h5>
                    <h5 class="text-light">&#8377; 1,900</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <div><canvas id="MiscelleniousBill"></canvas></div>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>
