@{
    Layout = null;
}


    <div class="container-fluid">
        <div class="row mb-1">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header h2">Rental Agreement</div>
                    <div class="card-body">
                        <p>
                            This agreement of Tenancy is amde and executed at Chikkabanavara on 1st day of June 2015,by and between Amit and 3 other,hereinafter referred for to as the OWNER,and Amit and 4 othre,hereinafter referred as the TENANT.
                        </p>
                        <p>
                            Whereas, the tenant has requested the Owner ,to let out the premises bearing address:
                        </p>
                        <p>
                            17/B Vinayaka nagara Chikkabanavara 560092 in consideration of the rent hereinafter reserverd and the conditions hereinafter stated.
                        </p>
                    </div>
                    <div class="card-body mb-6">
                        <p class="font-weight-bold"><u>Now this agreement witness as follows :</u></p>
                        <p>
                            1. The Tenant shall pay a monthly rent of &#8377; 6000(in words Six Thousand only) on or before 10th of every month.
                        </p>
                        <p>
                            2. The Tenant has  deposited with Owner &#8377; 10000(in words Ten Thousand Only)as advance and security deposite the Owner hereby acknowledges the said sum shall carry no interest but refundable to the Tenant on the termination of tanancy.
                        </p>
                        <p>
                            3. The Tenanacy shall be in force for a period of eleven months from the above said date, and the month of tenancy being the English calender month.
                        </p>
                        <p>
                            4. The Owner shall have the right to terminate the tenancy if the Tenant fails to pay the rent regularly for a consecutive period of two or moore months,or commits breach of any of the terms herein.
                        </p>
                        <p>
                            5. The Tenant shall use the premises only for residential purpose and shall not use it for any offensive or objectionable purpose, and shall not any consent of the Owner hereby a sublet under lease or part the possession of the any whomsoever or make any alteration therein.
                        </p>
                        <p>
                            6. The Owner shall allow the Tenant peaceful possession of any enjoyment of the premises during the continuance of tenancy provded the tenant acts up to the terms of this agreements.
                        </p>
                        <p>
                            7. The Tenant Shall not cause any damage to the fixed fixtures on the above said property. Any damage cause shall be repaied at the cost of the Tenant
                        </p>
                    </div>
                    <div class="card-footer" style="height: 130px;">
                        <div class="d-flex">
                            <div><u>TENANT</u></div>
                            <div class="ml-auto"><u>OWNER</u></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>