@{
    Layout = null;
}
<div class="container-fluid">
     <div class="row mb-1">
          <div class="col-lg-12">
                <div class="card">
                    <div class="card-header h2 global-bg-primary">Rental Agreement</div>
                    <div class="card-body">
                        <div class="text-center">
                            This Rent Agreement is made on this<span id="agreementDate">__________ (date of rent agreement)</span>  by <span class="font-weight-bold">Prakash</span>, Addrress: <span class="font-weight-bold">Magadi Road Bangalore 560023.</span> Herein after called the Lessor / Owner, Party Of the <span class="font-weight-bold">First part</span>
                        </div>
                        <div class="text-center mt-1">AND</div>
                        <div class="text-center"><span id="tenants" class="font-weight-bold">_____________________________ (Name of the proposed company)</span> called Lessee/Tenant, Party of the<span class="font-weight-bold"> Second Part</span></div>
                        <div>The Lessee/Tenant   has  agreed  to  take  the  same  on  rent  of Rs. <span class="rentamt font-weight-bold">______/-(In words)</span>   per month.</div>
                    </div>
                    <div class="card-body mb-6">
                        <h4><u>NOW THIS RENT AGREEMENT WITNESSETH AS UNDER:- </u></h4>
                        <div class="py-1">1.	That the Tenant/Lessee shall pay as the monthly rent of RS.<span class="font-weight-bold rentamt">______/-(In words)</span>  per  month,  excluding  electricity  and  water charge.</div>
                        <div class="py-1">2.	That the Tenant /Lessee shall not sub–let any part of the above said demised premised premises to anyone else under any circumstances without the         consent of Owner.</div>
                        <div class="py-1">3.	That  the  Tenant  / Lessee  shall   abide  by   all  the  bye - laws ,rules  and regulation, of the local authorities in respect  of the demised premises and shall not do any illegal activities in the said demised premises.</div>
                        <div class="py-1">
                            4.	That   this   Lease   is   granted  for  a  period   of   Eleven  (11)  months  only commencing from
                            <span id="joiningDate">___________ (date of rent commencing from)</span>
                            and  this  lease   can  be  extended further by   both   the   parties  with   their  mutual  consent on the basis of  prevailing rental value  in the market .
                        </div>
                        <div class="py-1">
                            5.	That the Lessee shall pay Electricity & Water charge as per   the proportionate consumption of the meter to the Lessor /Owner.
                        </div>
                        <div class="py-1">
                            6.	That the Tenant/Lessee shall not be entitled to make structure in the rented premises except the installation of temporary decoration, wooden partition/ cabin, air – conditioners etc. without the prior consent of   the owner.
                        </div>
                        <div class="py-1">
                            7.	That  the  Tenant/lessee  can neither  make  addition/alteration in  the said premises without  the  written  consent of the owner, nor the lessee can sublet part or entire  premises to any person(s)/firm(s)/company(s).
                        </div>
                        <div class="py-1">
                            8.	That  the  Tenant/Lessee shall permit  the  Lessor/Owner or his Authorized agent  to  enter   in  to  the   said  tenanted  premises  for  inspection/general checking or to carry out the repair work, at any reasonable time.
                        </div>
                        <div class="py-1">
                            9.	That the Tenant/Lessee shall keep the said premises in clean & hygienic condition and shall not do or causes to be done any act which may be a nuisance to other.
                        </div>
                        <div class="py-1">
                            10.	That the Tenant/Lessees shall carry on all day to day minor repairs at his/her own cost.
                        </div>
                        <div class="py-1">
                            11.	That  this Agreement  may  be  terminated   before  the expiry of this tenancy period by serving One month prior notice by either  party  for  this intention .
                        </div>
                        <div class="py-1">
                            12.	That the Lessee shall use the above said premises for Official Purpose Only.
                        </div>
                        <div class="py-1">
                            13.	That  the  Lessee/Tenant  Shall  not  store/Keep any offensive, dangerous, explosive or highly  Inflammable  articles  in  the  said  premises and shall not use the same for any unlawful activities.
                        </div>
                        <div>
                            14.	That the Lessee shall pay the one month’s advance rent to the Lessor the same shall be adjusted in monthly rent.
                        </div>
                        <div class="py-1">
                            15.	That both the parties have read over and understood all the contents of this agreement and have signed the same without any force or pressure from any side.
                        </div>
                        <div class="py-1">
                            In WITNESS WHEREOF  the  lessor/Owner  and  the Tenant / Lessee have hereunto subscribed  their  hand  at  <span id="rentAddress" class="font-weight-bold"></span>  on this  the <span id="agreementDate">_____________ (date of rent agreement)</span> year first  above Mentioned in presents of the following Witnesses
                        </div>
                        <div>
                            <h4><u>Witnesses:- </u></h4>
                            <div class="mb-5">1.</div>
                            <div class="mb-5">2.</div>
                        </div>
                    </div>
                    <div class="card-footer" style="height: 130px;">
                        <div class="d-flex">
                            <div><u>Lessee</u></div>
                            <div class="ml-auto"><u>Lessor</u></div>
                        </div>
                    </div>
                </div>
          </div>
     </div>
</div>