/*Global CSS*/

:root {
    --primary: rgb(31 97 141);
    --white: #ffffff;
    --lightmode: rgba(0, 0, 0, 0.2)
}

.lightmode { background-color: #fff !important;   color: var(--lightmode) !important; }
.darkmode { background-color: #343a40 !important;color: #fff !important; }

.global-bg-primary { background-color: var(--primary) !important; color: var(--white) !important }
.global-bg-secondary { background-color: bisque !important;color: #fff !important }
.global-text-primary { color: var(--primary) !important; }
.global-text-dark { color: #343a40 !important; }

.global-text-secondary { color: bisque !important; }
.minWidthFull { min-width:100%; }
.asset-title { letter-spacing: 2px; text-transform: uppercase; }
.fontSize_12 { font-size: 12px !important;}

.fontSize_15 {font-size: 15px !important;}

.fontSize_16 {font-size: 16px !important;}
.height_5 { height: 5rem !important }
.height_6 { height: 6rem !important}
.zi-0 { z-index: 0 !important }
.zi-1 { z-index: 1 !important }
.zi-2 { z-index:2 !important  }

.fontSize_18 { font-size:18px !important; }
.cursor-pointer { cursor:pointer !important; }
.fontSize_20 { font-size: 20px !important; }
.fontSize_30 { font-size: 30px !important; }
.fontSize_50 { font-size: 50px !important; }
.fontSize_60 { font-size: 60px !important; }
.fontSize_70 { font-size: 70px !important; }
.border-right-2 { border-right: 2px solid #a7a9ab; }
.notifnLetter { font-size: 20px; color: white; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.checkBoxDisabled { opacity: 0.5; pointer-events: none; }
.txtRounded { border-radius: 0.50rem !important; }
.noRecords { background: #808080; color: #efefef; font-style: italic; text-align:center; }
.chatBubble { width: 300px; padding: 5px; border-radius: 10px; color: #fff; margin-bottom: 5px; font-size: 14px; }
.list-unstyled li a:hover { padding-left: 10px; }
.logoFill { height: 25px; width: 25px; border-radius: 50%; display: inline-block; margin: 10px 0px 0px 6px; }
.toastopacity { transition: opacity .35s linear; }
.btn-clear { color: #fff; background-color: #009688; border-color: #078a7e; }
.btn-clear:hover { color: #fff; background-color: #038074; border-color: #016f65; }
.w-20 { width: 20% !important; }
.w-30 { width: 30% !important; }
.min-width-15 { min-width: 15em !important; }
.max-width-26 { max-width: 26em !important; }
.max-width-30 {
    max-width: 30em !important;
}
.min-width-30 { min-width: 30em !important; }
.bottom { position: absolute; bottom: 0px; }
border-bottom-2 { border-bottom: 2px solid #dee2e6 !important; }
.primary-font {
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}
w-90 { width: 90% !important; }
.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.started_button {
    background-color: transparent;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.assetCards { transition: box-shadow .3s; }
.assetCards:hover {  box-shadow: 0 0 20px rgba(35,33,33,0.2); }


.pl-6, .px-6 { padding-left: 5rem !important; }

/* Screen Loader */

.scrloader { width: 100px; height: 100px; display: inline-block; padding: 0px; text-align: left; }
    .scrloader span {
        position: absolute;
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background: #5cf57f;
        -webkit-animation: scrloader 1.5s linear infinite;
        animation: scrloader 1.5s linear infinite;
    }
.scrloader span:last-child {animation-delay: -0.9s;-webkit-animation-delay: -0.9s;}

@keyframes scrloader {
    0% { transform: scale(0, 0); opacity: 0.8; }
    100% { transform: scale(1, 1); opacity: 0; }
}

@-webkit-keyframes scrloader {
    0% { -webkit-transform: scale(0, 0); opacity: 0.8; }
    100% { -webkit-transform: scale(1, 1); opacity: 0; }
}

/*Customize CheckBox*/
.ckeckBoxStyle, .ckeckBoxStyleDark {
    margin-right: 10px;
    margin-bottom: 23px;
    cursor: pointer;
    font-size: 15px;
    width: 15px;
    height: 18px;
    position: relative;
}
.ckeckBoxStyle:after { 
    position: absolute; width: 25px; height: 28px; top: 0; content: " "; background-color: var(--primary) !important; 
    color: #eee; display: inline-block; visibility: visible; padding: 0px 5px; border-radius: 3px;
}
.ckeckBoxStyleDark:after {
    position: absolute; width: 25px; height: 28px; top: 0; content: " "; background-color: #343a40 !important;
    color: #eee; display: inline-block; visibility: visible; padding: 0px 5px; border-radius: 3px;
}
.ckeckBoxStyle:checked:after { content: "✓"; font-size: 20px; font-weight: bolder }
.ckeckBoxStyleDark:checked:after { content: "✓"; font-size: 20px; font-weight: bolder }

.toggleSwitch { position: relative; display: inline-block; width: 60px; height: 34px; }
.toggleSwitch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0;  background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }

.chkToggle:checked + .slider { background-color: #2196F3; }
.chkToggle:focus + .slider { box-shadow: 0 0 1px #2196F3; }
.chkToggle:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }

/* Rounded sliders */
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }

#customFile .custom-file-input:lang(en)::after { content: "Select file..."; }
#customFile .custom-file-input:lang(en)::before { content: "Click me"; }

/*when a value is selected, this class removes the content */
.custom-file-input.selected:lang(en)::after { content: "" !important; }
.custom-file { overflow: hidden; }
.custom-file-input { white-space: nowrap; }


.customToast { position: absolute; top: 4rem; right: 20px; z-index: 1; width: 18rem; }

/*Calculator CSS*/
/* Using box shadows to create 3D effects */
#calculator {
    width: 325px;
    height: auto;
    padding: 20px 20px 9px;
    background: #9dd2ea;
    background: linear-gradient(#9dd2ea, #007bff);
    border-radius: 3px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear { float: right; }

/* Inset shadow on the screen to create indent */
.top .screen {
    height: 40px; width: 212px; float: left; padding: 0 10px; background: rgba(0, 0, 0, 0.2);
    border-radius: 3px; box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2); font-size: 17px;
    line-height: 40px; color: white; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right; letter-spacing: 1px;
}

/* Clear floats */
.keys,.top { overflow: hidden; }

/* Applying same to the keys */
.keys span, .top span.clear {
   float: left; position: relative; top: 0; cursor: pointer; width: 66px;
   height: 36px; background: white; border-radius: 3px; margin: 0 7px 11px 0;
   box-shadow: 0px 4px rgba(0, 0, 0, 0.2); color: #888; line-height: 36px;
   text-align: center;
   /* prevent selection of text inside keys */
   user-select: none;
   /* Smoothing out hover and active states using css3 transitions */
   transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator { background: #FFF0F5; margin-right: 0; }
.keys span.eval { background: #f1ff92; box-shadow: 0px 4px #9da853; color: #888e5f; }
.top span.clear { background: #ff9fa8; box-shadow: 0px 4px #ff7c87; color: white; right: -6px; }
/* Some hover effects */
.keys span:hover { background: #9c89f6; box-shadow: 0px 4px #6b54d3; color: white; }
.keys span.eval:hover { background: #abb850; box-shadow: 0px 4px #717a33; color: #ffffff; }
.top span.clear:hover { background: #f68991; box-shadow: 0px 4px #d3545d; color: white; }
 /* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active { box-shadow: 0px 0px #6b54d3; top: 4px; }
.keys span.eval:active { box-shadow: 0px 0px #717a33; top: 4px; }
.top span.clear:active { top: 4px; box-shadow: 0px 0px #d3545d; }


.angleRotate180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
}


/* chartjs css */
.doughnut { background-color: white; font-family: calibri; height: 230px; }
.doughnutChartContainer {
    height: 195px !important;
}
.doughnut .chart-legend {
    float: left;
    width: 180px;
    background-color: white;
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
    /* NOTE: Browsers automatically add 40px of padding-left to all lists, so we should offset that, otherwise the legend is off-center */
    -webkit-padding-start: 0;
    /* Webkit */
    -moz-padding-start: 0;
    /* Mozilla */
    padding-left: 0;
    /* IE (handles all cases, really, but we should also include the vendor-specific properties just to be safe) */
}

.doughnut .chart-legend li {
    display: inline-block;white-space: nowrap;position: relative;margin-bottom: 4px;
    border-radius: 5px;padding: 2px 24px 2px 0;font-size: smaller;cursor: default;
}

.doughnut .chart-legend li .line-legend-icon,
.doughnut .chart-legend li .doughnut-legend-icon { display: block;float: left;left: 0;top: 0;width: 20px;height: 20px;border-radius: 5px; }
.doughnut .chart-legend li .doughnut-legend-text,
.doughnut .chart-legend li .line-legend-text { padding-left: 10px; }


/* Button Ripple Effect */



/* DataTables */
.dataTables_filter{ float:left !important}

/* Validation CSS*/

.errorinput {
    border: 1px solid red;
}
.errorExclamation {
    display:none;
    height: 25px;
    width: 25px;
    color: red;
    border-radius: 50%;
    border: 2px solid;
    font-size: 22px;
    font-weight: 800;
    margin: 3px 0px 0px -30px;
    padding: 0px 10px 27px 8px;
}