@{
    Layout = null;
}
<form class="form-signin px-2" onsubmit="handleChangePassword();return false">
    <div class="col-lg-4 offset-lg-4 mt-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default" style="width: 9.8em;background: transparent;">Old Password</span>
            </div>
            <input aria-describedby="inputGroup-sizing-default" type="password" class="form-control"
                   placeholder="Please provide your Old password" id="txtOldPassword" required style="max-width:21rem;">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default" style="background: transparent;width: 9.8em;">New Password</span>
            </div>
            <input aria-describedby="inputGroup-sizing-default" type="password" class="form-control" placeholder="Please confirm your new password" id="txtNewPassword" required style="max-width:21rem;">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default" style="background: transparent;">Affirm Password</span>
            </div>
            <input aria-describedby="inputGroup-sizing-default" type="password" class="form-control" placeholder="Please confirm your password" id="txtAffirmPassword" required style="max-width:21rem;">
        </div>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger w-25 mb-1">Clear</button>
            <button type="submit" class="btn btn-info w-25 mb-1">Save</button>
        </div>
        <div class="input-group text-center btn-block justify-content-between mb-3">

        </div>
        <div id="errMsgDiv" class="alert alert-danger collapse">
            <a id="linkCLose" class="close" href="#">&times;</a>
            <div id="errTxt"></div>
        </div>
    </div>
</form>
