@{
    Layout = null;
}
<div class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between mb-1">
                        <div class="h4 font-weight-bold">Documents</div>
                        <button class="btn global-bg-primary" onclick="gotoAssetSave()">Add New</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" id="AssetsList">
                        <div class="col">
                            <div class="card assetCards">
                                <div class="card-body cursor-pointer crdAssets" style="height:200px;position: relative;">
                                    <div class="h6 global-text-primary font-weight-bold border-bottom " style="white-space:nowrap">
                                        <i class="fas fa-image fontSize_18" aria-hidden="true"></i> Tenant Deed Agreement
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card assetCards">
                                <div class="card-body cursor-pointer crdAssets" style="height:200px;position: relative;">
                                    <div class="h6 global-text-primary font-weight-bold border-bottom" style="white-space:nowrap">
                                        <i class="fas fa-image fontSize_18" aria-hidden="true"></i> Water Bill
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card assetCards">
                                <div class="card-body cursor-pointer crdAssets" style="height:200px;position: relative;">
                                    <div class="h6 global-text-primary font-weight-bold border-bottom"style="white-space:nowrap">
                                        <i class="fas fa-image fontSize_18" aria-hidden="true"></i> Motor Bill
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card assetCards">
                                <div class="card-body cursor-pointer crdAssets" style="height:200px;position: relative;">
                                    <div class="h6 global-text-primary  font-weight-bold border-bottom"style="white-space:nowrap">
                                        <i class="fas fa-image fontSize_18" aria-hidden="true"></i> Electricity Bill
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between mb-1">
                        <div class="h4 font-weight-bold">Preview</div>
                    </div>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-info" >Download</button>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
   
    
</div>