@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<form onsubmit="forgotpasswordSendLink();return false">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="card card-outline-secondary">
                    <div class="card-header global-bg-primary">
                        <h3 class="mb-0 text-light"><i class="fas fa-envelope-open-text"></i> Forgot Password</h3>
                    </div>
                    <div class="card-body">
                        <div autocomplete="off" class="form" role="form">
                            <div class="form-group">
                                <label for="inputSendTo">Registered Mail Id</label>
                                <input class="form-control minWidthFull" id="forgot_txtEmail" placeholder="Please provide registered Mail Id" type="email" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-2">
                    <div class="form-group">
                        <div class="d-flex justify-content-between">-->
                            @*<button class="btn btn-secondary w-25" type="button" onclick="gotoMailLogsView()"><i class="fas fa-arrow-circle-left"></i> Back</button>*@
                            @*<button class="btn btn-clear w-25" onclick="clearTextBoxes()"><i class="fas fa-broom"></i> Clear</button>*@
                            <!--<button class="btn btn-success w-25" type="submit" value="send" id="btnSandLink">
                                Send Link <i id="icnSandMail" class="fas fa-share"></i> <i class="fa fa-spinner fa-spin" aria-hidden="true" hidden></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>-->

<div class="container pt-3 mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <div class="card border-info shadow">
                <div class="card-body p-0">
                    <div class="row" style="justify-content: center;">
                        <div class="col-sm-12 col-md-6 col-xl-6 text-center d-none d-md-block">
                            <img class="img-fluid w-100 bg-info" src="~/Images/loginimg.png" style="height: 100%"/>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 pt-3">
                            <div class="text-info mt-2" style="letter-spacing: 5px;">
                                <div class="h6 text-center mb-3">Welcome To</div>
                                <div class="h5 font-weight-bold text-center mb-3">Expense Calculator</div>
                                <div class="h5 text-center mb-4">Forgot Password</div>
                            </div>
                            <form class="form-signin px-2" onsubmit="forgotpasswordSendLink();return false">
                                <div class="input-group mb-3" title="Please provide registered Mail Id">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default"
                                              style="width: 6.5em; background: transparent;">Mail Id</span>
                                    </div>
                                    <input aria-describedby="inputGroup-sizing-default" type="email" class="form-control" placeholder="Please provide registered Mail Id" id="forgot_txtEmail" required autofocus style="max-width:21rem;">
                                </div>
                                <div class="input-group text-center btn-block justify-content-between mb-3">
                                    <button type="button" class="btn w-30 btn-info mb-1" onclick="toLogin();">Back</button>
                                    <button type="submit" class="btn btn-info mb-1">Send Link</button>
                                </div> 
                            </form>
                            <div id="UserloginErrMsgDiv" class="alert alert-danger collapse">
                                <a id="UserloginLinkClose" class="close" href="#">&times;</a>
                                <div id="UserloginErrTxt"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-content mt-5" style="position:absolute;bottom:0;width:100%">
    <hr />
    <div>
        <div class="col-sm-12 col-md-12 text-center font-bold">
            <div>
                <p>Copyright © @DateTime.Now.Year <strong><span class="text-info">Expense Calculator</span></strong>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>