
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container pt-3 mt-5">
        <div class="row justify-content-sm-center">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <div class="card border-info shadow">
                    <div class="card-body p-0">
                        <div class="row" style="justify-content: center;">
                            <div class="col-sm-12 col-md-6 col-xl-6 text-center d-none d-md-block">
                                <img class="img-fluid w-100 bg-info" src="~/Images/loginimg.png" style="height: 100%;"/>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xl-6 pt-3">
                                <div class="text-info mt-2" style="letter-spacing: 5px;">
                                    <div class="h6 text-center mb-3">Welcome To</div>
                                    <div class="h5 font-weight-bold text-center mb-3">Home Companion</div>
                                    <div class="h5 text-center mb-4">Registration</div>
                                </div>
                                <form class="form-signin px-2" onsubmit="handleRegistration();return false">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default"
                                                  style="width: 9.8em;background: transparent;">Email</span>
                                        </div>
                                        <input aria-describedby="inputGroup-sizing-default" type="email" class="form-control" placeholder="Please Enter your Email" id="txtEmail" required autofocus style="max-width:21rem;">
                                    </div>
                                    <div class="input-group mb-3">
                                        <label class="text-danger font-weight-bolder fontSize_12">
                                            Please Enter Number that you Provided to the Owner At the Beginning.
                                        </label>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default" style="width: 9.8em;background: transparent;">Phone Number</span>
                                        </div>
                                        <input aria-describedby="inputGroup-sizing-default" type="text" class="form-control" placeholder="Enter Phone Number" id="txtPhoneNumber" required style="max-width:21rem;">
                                    </div>
                                    <div class="input-group mb-3"> 
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default" style="width: 9.8em;background: transparent;">Password</span>
                                        </div>
                                        <input aria-describedby="inputGroup-sizing-default" type="password" class="form-control" placeholder="Please provide your password" id="txtPassword" required style="max-width:21rem;">
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default" style="background: transparent;">Affirm Password</span>
                                        </div>
                                        <input aria-describedby="inputGroup-sizing-default" type="password" class="form-control" placeholder="Please confirm your password" id="txtConfirmPassword" required style="max-width:21rem;">
                                    </div>
                                    <div class="input-group text-center btn-block justify-content-between mb-3">
                                        <button type="button" class="btn btn w-25 btn-info mb-1" onclick="toMainScreen()">Back</button>
                                        <button type="submit" class="btn btn w-25 btn-info mb-1">Save</button>
                                    </div>
                                </form>
                                <div id="UserloginErrMsgDiv" class="alert alert-danger collapse">
                                    <a id="UserloginLinkClose" class="close" href="#">&times;</a>
                                    <div id="UserloginErrTxt"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="body-content mt-5" style="position:absolute;bottom:0;width:100%">
        <hr />
        <div>
            <div class="col-sm-12 col-md-12 text-center font-bold">
                <div>
                    <p>Copyright © @DateTime.Now.Year <strong><span class="text-info">Home Companion</span></strong>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>