
@{
    ViewBag.Title = "AdminRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" class="form-control" placeholder="Enter email" id="txtEmail">
    </div>
    <div class="form-group">
        <label for="pwd">Password :</label>
        <input type="password" id="txtPassword" class="form-control" placeholder="Enter password">
    </div>
    <div class="form-group">
        <label for="pwd">Confirm Password :</label>
        <input type="password" class="form-control" placeholder="Enter password" id="txtConfirmPassword">
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me
        </label>
    </div>
    <button type="submit" id="btnLoginBack" class="btn btn-primary">Back</button>
    <button type="submit" id="btnSaveRegister" class="btn btn-primary">Submit</button>
    <div id="errMsgDiv" class="alert alert-danger collapse">
        <a id="linkCLose" class="close" href="#">&times;</a>
        <div id="errTxt"></div>
    </div>
</div>

