@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-3 mt-5">
    <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <div class="card border-info shadow">
                <div class="card-body p-0">
                    <div class="row" style="justify-content: center;">
                        <div class="col-sm-12 col-md-6 col-xl-6 text-center d-none d-md-block">
                            <img class="img-fluid w-100 bg-info" src="~/Images/loginimg.png" style="height:100%"/>
                        </div>
                        <div class="col-sm-12 col-md-6 col-xl-6 pt-3">
                            <div class="text-info mt-2" style="letter-spacing: 5px;">
                                <div class="h6 text-center mb-3">Welcome To</div>
                                <div class="h5 font-weight-bold text-center mb-3">Home Companion</div>
                            </div>
                            <form class="form-signin px-2" onsubmit="handleUserLogin();return false">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default"
                                              style="width: 100px; background: transparent;">Number</span>
                                    </div>
                                    <input aria-describedby="inputGroup-sizing-default" type="number" class="form-control" placeholder="Enter Phone Number" id="txtLoginPhoneNumber" required autofocus autocomplete="off">
                                    <span title="Invalid Number" class="errorExclamation">&#33;</span>
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-weight-bold text-info" id="inputGroup-sizing-default" style="background: transparent;">Password</span>
                                    </div>
                                    <input aria-describedby="inputGroup-sizing-default" type="password" class="form-control" placeholder="Enter Password" id="txtLoginPassword"
                                           required />
                                </div>
                                <div class="flex mb-3 justify-content-between" style="font-size:12px">
                                    <a href="~/UserAccount/register">Not a member ? Register </a>
                                    <a href="~/UserAccount/forgotpassword" class="float-right">Forgot Password ?</a>
                                </div>
                                <div class="input-group text-center btn-block justify-content-between mb-3">
                                    <button type="button" class="btn w-30 btn-info mb-1" onclick="toMainScreen();">Back</button>
                                    <button type="submit" class="btn w-30 btn-info mb-1">Sign in</button>
                                </div>
                            </form>
                            <div id="UserloginErrMsgDiv" class="alert alert-danger collapse">
                                <a id="UserloginLinkClose" class="close" href="#">&times;</a>
                                <div id="UserloginErrTxt"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="body-content mt-5" style="position:absolute;bottom:0;width:100%">
    <hr />
    <div>
        <div class="col-sm-12 col-md-12 text-center font-bold">
            <div>
                <p>Copyright © @DateTime.Now.Year <strong><span class="text-info">Home Companion</span></strong>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>