@{
    Layout = null;
}
<h2>WELCOME TO ADMIN DASHBOARD</h2>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog" style="max-width:700px" >
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body bg-primary">
                                <div class="h4 text-light">Sree Lakshmi Narasimha Swamy Nilaya</div>
                                <div class="h5">Lakshmi Devi S</div>
                                <div class="h6">Vinayaka nagara</div>
                            </div>
                            <div class="card-footer">
                                <button class="btn">Edit</button>
                                <button class="btn pull-right">Delete</button>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body bg-primary">
                                <div class="h4 text-light">Sree Lakshmi Narasimha Swamy Nilaya</div>
                                <div class="h5">Lakshmi Devi S</div>
                                <div class="h6">Vinayaka nagara</div>
                            </div>
                            <div class="card-footer">
                                <button class="btn">Edit</button>
                                <button class="btn pull-right">Delete</button>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body bg-primary">
                                <div class="h4 text-light">Sree Lakshmi Narasimha Swamy Nilaya</div>
                                <div class="h5">Lakshmi Devi S</div>
                                <div class="h6">Vinayaka nagara</div>
                            </div>
                            <div class="card-footer">
                                <button class="btn">Edit</button>
                                <button class="btn pull-right">Delete</button>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body bg-primary">
                                <div class="h4 text-light">Sree Lakshmi Narasimha Swamy Nilaya</div>
                                <div class="h5">Lakshmi Devi S</div>
                                <div class="h6">Vinayaka nagara</div>
                            </div>
                            <div class="card-footer">
                                <button class="btn">Edit</button>
                                <button class="btn pull-right">Delete</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>