@{
    Layout = null;
}
<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between mb-1">
        <h5 class="h2">Asset Registration</h5>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Primary</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputAssetName" class="font-weight-bold">Asset Name</label>
                            <input class="form-control minWidthFull txtRounded" id="txtAssetName" placeholder="Asset Name..." type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputAssetName" class="font-weight-bold">Registration Date</label>
                            <input class="form-control minWidthFull txtRounded" id="txtRegDate" placeholder="Registration Date..." type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputTranAmt" class="font-weight-bold">Registered To</label>
                            <input class="form-control minWidthFull txtRounded" id="txtRegTo" placeholder="Registered To..." type="text">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary"><h3 class="mb-0 text-light">Secondary</h3></div>
                <div class="card-body card-body pb-4">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputLandTax" class="font-weight-bold">Land Tax Amount</label>
                            <input class="form-control minWidthFull txtRounded" id="txtRegTaxAmt" placeholder="Land Tax Amount" type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputNumberOfDoors" class="font-weight-bold">Number Of Doors</label>
                            <input class="form-control minWidthFull txtRounded" id="txtNumDoors" placeholder="Number Of Doors" type="number">
                        </div>
                        <div class="form-group">
                            <label for="inputNumberOfWindows" class="font-weight-bold">Number Of Windows</label>
                            <input class="form-control minWidthFull txtRounded" id="txtNumWindows" placeholder="Number Of Windows" type="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary"><h3 class="mb-0 text-light">Secondary</h3></div>
                <div class="card-body card-body pb-4">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputNumberOfTaps" class="font-weight-bold">Number Of Taps</label>
                            <input class="form-control minWidthFull txtRounded" id="txtNumTaps" placeholder="Number Of Taps" type="number">
                        </div>
                        <div class="form-group">
                            <label for="inputNumberOfBulbs" class="font-weight-bold">Number Of Bulbs</label>
                            <input class="form-control minWidthFull txtRounded" id="txtNumBulbs" placeholder="Number Of Bulbs" type="number">
                        </div>
                        <div class="form-group">
                            <label for="inputNumberOfBulbs" class="font-weight-bold">Number Of Fans</label>
                            <input class="form-control minWidthFull txtRounded" id="txtNumFans" placeholder="Enter Number Of Fans" type="number">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Tertiary</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputAddress" class="font-weight-bold">Address</label>
                            <input class="form-control minWidthFull txtRounded" id="txtAssetAddress" placeholder="Address" type="text">
                        </div>
                        <div style="display:flex;margin-top:20px">
                            <div style="flex:1" className="text-right">
                                <div class="form-check">
                                    <input type="checkbox" class="checkBoxStyle_1 " id="ckbIsSump">
                                    <label class="font-weight-bold" for="IsSump">Is Sump</label>
                                </div>
                            </div>
                            <div style="flex:1">
                                <div class="form-check">
                                    <input type="checkbox" class="checkBoxStyle_1" id="ckbIsRent">
                                    <label class="font-weight-bold" for="IsRent">Is Rent</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputRemarks" class="font-weight-bold">Remarks</label>
                            <textarea class="form-control minWidthFull txtRounded" id="txtAssetRegRemarks" placeholder="Enter Remarks Here" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-2">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-danger w-25" type="button" onclick="clearTextBoxes()">clear</button>
                        <button class="btn btn-info w-25" type="button" id="btnSaveAsset" onclick="saveAsset()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
