@{
    Layout = null;
}
    <div class="container-fluid mt-1">
        <div class="d-flex justify-content-between">
            <h5 class="h4 font-weight-bold">Asset Details</h5>
            <button class="btn global-bg-primary" id="btnAddProximities" onclick="AssetEdit(sessionStorage.getItem('AssetID'))">Modify</button>
        </div>
        <div class="card card-outline-secondary shadow mb-3">
            <div class="card-header global-bg-primary">
                <h3 class="mb-0 text-light">Primary</h3>
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group text-center border-right-2">
                            <div><i class="fas fa-home fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Asset Name</label>
                            <div><label id="lblAssetName"></label></div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group text-center border-right-2">
                            <div><i class="fas fa-calendar-plus fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Registration Date</label>
                            <div><label id="lblRegDate"></label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group text-center border-right-2">
                            <div><i class="fas fa-user fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Registered To</label>
                            <div><label id="lblRegTo"></label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group text-center">
                            <div><i class="fas fa-suitcase fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Land Tax Amount</label>
                            <div><label id="lblRegTaxAmt"></label></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card card-outline-secondary shadow mb-3">
            <div class="card-header global-bg-primary">
                <h3 class="mb-0 text-light">Secondary</h3>
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group text-center border-right-2">
                            <div><i class='fas fa-door-open fontSize_50 global-text-primary'></i></div>
                            <label class="font-weight-bold mt-2">Number Of Doors</label>
                            <div><label id="lblNumDoors"></label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group text-center border-right-2">
                            <div><i class="fas fa-wind fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Number Of Windows</label>
                            <div><label id="lblNumWindows"></label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center border-right-2">
                            <div><i class="fas fa-faucet fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Number Of Taps</label>
                            <div><label id="lblNumTaps"></label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center">
                            <div><i class="fas fa-lightbulb fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Number Of Bulbs</label>
                            <div><label id="lblNumBulbs"></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-outline-secondary shadow mb-3">
            <div class="card-header global-bg-primary">
                <h3 class="mb-0 text-light">Tertiary</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center border-right-2">
                            <div><i class="fas fa-fan fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Number Of Fans</label>
                            <div><label id="lblNumFans"></label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center border-right-2">
                            <div><i class="fas fa-map-marker-alt fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Address</label>
                            <div><label id="lblAssetAddress"></label></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center border-right-2">
                            <div class="d-flex">
                                <i class="fas fa-swimming-pool fontSize_50 global-text-primary flex-fill"></i>
                                <i class="fas fa-people-arrows fontSize_50 global-text-primary flex-fill"></i>
                            </div>
                            <div style="display:flex;margin-top:20px">
                                <div style="flex:1" className="text-right">
                                    <div class="form-check">
                                        <input type="checkbox" id="ckbIsSump">
                                        <label class="font-weight-bold" for="IsSump">Is Sump</label>
                                    </div>
                                </div>
                                <div style="flex:1">
                                    <div class="form-check">
                                        <input type="checkbox" id="ckbIsRent">
                                        <label class="font-weight-bold" for="IsRent">Is Rent</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>  
                    <div class="col-lg-3">
                        <div class="form-group flex-fill text-center">
                            <div><i class="fas fa-marker fontSize_50 global-text-primary"></i></div>
                            <label class="font-weight-bold mt-2">Remarks</label>
                            <div style="height: 55px;overflow-y: auto;"><label id="lblAssetRegRemarks"></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

