
@{
    Layout = null;
}

<div class="container-fluid p-4">
    <div class="card">
        <div class="card-header">
            
            <div class="d-flex justify-content-between mb-1">
                <div class="h4 font-weight-bold">My Assets</div>
                <button class="btn global-bg-primary" onclick="gotoAssetSave()">Add New</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row" id="AssetsList"></div>
        </div>
    </div>
</div>