@{
    Layout = null;
}
<div class="container-fluid">
    <div class="d-flex justify-content-between mb-1">
        <h5 class="h2">Property Tax Logs</h5>
        <button class="btn btn-primary" onclick="gotoSavePropertyTax()">Pay Tax</button>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table table-bordered table-hover" id="tblPropertyTaxLogs">
                <thead class="thead-dark">
                    <tr>
                        <th>Tax Paid Date</th>
                        <th>Tax Amount</th>
                        <th>Status</th>
                        <th>Remarks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
