@{
    Layout = null;
}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Transaction</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputName">Transaction Type</label>
                            <select class="form-control minWidthFull" id="ddlTransactionType">
                                <option value="0" disabled>--Select--</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputTranDesc">Transaction Description</label>
                            <input class="form-control minWidthFull" placeholder="Description..." id="txtDescription" type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputTranAmt">Transaction Amount</label>
                            <input class="form-control minWidthFull" placeholder="Amount..." type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Payment Details</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputPaidFrom">Paid From</label>
                            <input class="form-control minWidthFull" placeholder="Paid From..." type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputPaidTo">Paid To</label>
                            <input class="form-control minWidthFull" placeholder="Paid To..." type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputTranMode">Mode Of Transaction</label>
                            <select class="form-control minWidthFull">
                                <option>--Select--</option>
                                <option>CASH</option>
                                <option>Online</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-secondary">
                <div class="card-header bg-primary"><h3 class="mb-0 text-light">Add Transaction</h3></div>
                <div class="card-body card-body pb-4">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-check">
                            <label class="font-weight-bold" for="PaymentStatus">
                                <input type="checkbox" class="form-check-input" id="ckbPaymentStatus">Payment Status
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="inputRemarks">Remarks</label>
                            <textarea class="form-control minWidthFull" id="txtRemarks" placeholder="Remarks..." rows="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-2">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-info w-25" type="button">Back</button>
                        <button class="btn btn-danger w-25" type="submit">clear</button>
                        <button class="btn btn-info w-25" type="button" id="btnSaveTransaction">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
