@{
    Layout = null;
}
<form onsubmit="saveProximity();return false"></form>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-outline-secondary shadow">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Transaction</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputAirport">NearBy Airport</label>
                            <input class="form-control minWidthFull" placeholder="Airport..." type="text" id="txtAirport">
                        </div>
                        <div class="form-group">
                            <label for="inputRailwayStation">NearBy Railway Station</label>
                            <input class="form-control minWidthFull" placeholder="Railway Station..." type="text" id="txtRailwayStation">
                        </div>
                        <div class="form-group">
                            <label for="inputBusStation">NearBy Bus Station</label>
                            <input class="form-control minWidthFull" placeholder="Bus Station..." type="text" id="txtBusStation">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-secondary shadow">
                <div class="card-header bg-primary">
                    <h3 class="mb-0 text-light">Payment Details</h3>
                </div>
                <div class="card-body">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputMetro">NearBy Metro Station</label>
                            <input class="form-control minWidthFull" placeholder="Metro Station..." type="text" id="txtMetroStation">
                        </div>
                        <div class="form-group">
                            <label for="inputSchoolCollege">NearBy School/College</label>
                            <input class="form-control minWidthFull" placeholder="School/College..." type="text" id="txtSchoolorCollege">
                        </div>
                        <div class="form-group">
                            <label for="inputHospital">NearBy Hospital</label>
                            <input class="form-control minWidthFull" placeholder="Hospital..." type="text" id="txtHospital">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-outline-secondary shadow">
                <div class="card-header bg-primary"><h3 class="mb-0 text-light">Add Transaction</h3></div>
                <div class="card-body card-body pb-4">
                    <div autocomplete="off" class="form" role="form">
                        <div class="form-group">
                            <label for="inputMarket">NearBy Market</label>
                            <input class="form-control minWidthFull" placeholder="Market..." type="text" id="txtMarket">
                        </div>
                        <div class="form-group">
                            <label for="inputHotel">NearBy Hotel</label>
                            <input class="form-control minWidthFull" placeholder="Hotel..." type="text" id="txtHotel">
                        </div>
                        <div class="form-group">
                            <label for="inputTemple">NearBy Temple</label>
                            <input class="form-control minWidthFull" placeholder="Temple..." type="text" id="txtTemple">
                        </div>
                    </div>
                </div>
                <div class="card-footer p-2">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-info w-25" type="button">Back</button>
                        <button class="btn btn-danger w-25" type="submit">clear</button>
                        <button class="btn btn-info w-25" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
