@{
    Layout = null;
}

<!-- Select Asset Modal -->
<div class="modal" id="modSelectAsset" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="max-width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pt-2">Please Select Asset</h4>
                <button title="Add New Asset" class="btn global-bg-primary" onclick="btngotoSaveAsset()"><i class="fas fa-plus p-2"></i> </button>
            </div>
            <div class="modal-body">
                <div class="row" id="assetList"></div>
            </div>
        </div>
    </div>
</div>
