@{
    Layout = null;
}

<!-- Select Asset Modal -->
<div class="modal" id="modSelectAsset" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="max-width:900px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please Select Asset</h4>
                <button title="Add Asset" class="btn global-bg-primary" onclick="btngotoSaveAsset()"><i class="fas fa-plus"></i> </button>
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
            </div>
            @*<div class="d-flex justify-content-between ml-3 mr-3 m-1">
                <label>Please Add Asset</label>
                <button class="btn btn-primary">Add</button>
            </div>*@
            <div class="modal-body">
                <div class="row" id="assetList"></div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>
